@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    ul{
        list-style: none;
    }
    header{
        margin-left: 4%;
        font-size: 20px;
        padding: 0px;
        margin-top: 20px;
        height: 96px;
        width: 96%;
        section{
            height: 96px;
            width: 100%;
            display: inline; 
            padding: 0px; 
            .header-left{
                display: inline;
                width: 46%;
                height: 100%;
                #logo{
                    margin-top: 25px;
                }
                span{
                    padding: 0px;
                    height: 0.8px;
                    width: 32.5%;
                    margin-left: 90px;
                    position: absolute;
                    background: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.25;
                    z-index: 1;
                    top: 10%;
                }
            }
            .header-right{
                margin: 0px;
                width: 60%;
                background: rgba(255, 255, 255, 0.04);
                -webkit-backdrop-filter: blur(40.7742px);
                backdrop-filter: blur(40.7742px);
                float: right;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                z-index: -1;
                a{
                    height: 93.5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    color: inherit;
                    text-decoration: none;
                    span{
                        padding-right: 5px;
                        font-weight: bold;
                    }
                    &:hover{
                        border-bottom: 2.5px solid ;
                    }
                }
                .home-h, .destination-d, .crew-c, .technology-t{
                    border-bottom: 2.5px solid white;
                }
            }
        }
    }
    article{
        width: 450px;
        height: 382px;
        margin: 300px 0px 0px 150px;
        h1{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 150px;
            line-height: 0px;
        }
        h2{
            font-size: 28px;
            line-height: 0px;
            letter-spacing: 4.725px;
            color: #D0D6F9;
        }
        p{
            font-size: 18px;
            line-height: 18px;
            color: #D0D6F9;
        }  
    }
    #explore{
        float: right;
        width: 274px;
        height: 274px;
        border-radius: 150px;
        background-color: white;
        color: black;
        font-family: 'Bellefair';
        position: relative;
        top: -350px;
        margin-right: 5%;
        border: 1px solid rgba(255, 255, 255, 0);
        font-size: 32px;
        line-height: 0px;
        &:hover{
            box-shadow: 0px 0px 10px 30px rgba(255, 255, 255, 0.1);
        }
    }
}
.body1{
    background: url('./assets/home/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.body2{
    background: url('./assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.body3{
    background: url('./assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.body4{
    background: url('./assets/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    section{
        .contenair{
            display: flex;
            justify-content: start;
            width: 100%;
            .c-right, .c-left{
                z-index: 3;
            }
            .c-right{
                z-index: 1;
            }
        }
    }
}
section{
    h2{
        margin: 50px 0px 0px 150px;
        font-size: 28px;
        font-weight: 400;
        span{
            padding-right: 10px;
            color: white;
            letter-spacing: 4.725px;
            font-weight: 700;
            opacity: 0.25;
        }
    }
    .contenair{
        display: flex;
        text-align: space-evenly;
        justify-content: center;
        width: 100%;
        .c-right, .c-left{
            width: 40%;
            height: 600px;
        }
    }
} 
@media screen and (max-width:1235px) {
    body{
        header{
            section{
                .header-left{
                    span{
                        width: 28.5%;
                        margin-left: 9%;
                    }
                }
            }
        }
    }
    .body3{
        section{
            .contenair{
                display: flex;
                justify-content: start;
                width: 100%;
                .c-right, .c-left{
                    width: 40%;
                    height: 600px;
                    margin-left: 1%;
                    margin-right: 5%;
                    z-index: 3;
                }
                .c-right{
                    width: 50%;
                    margin-right: 0%;
                    margin-left: 90px;
                    z-index: 1;
                }
            }
        }
    }
    .body4{
        section{
            .contenair{
                display: flex;
                justify-content: start;
                width: 100%;
                .c-right, .c-left{
                    margin-left: 3%;
                }
            }
        }
    }
    section{
        .contenair{
            display: flex;
            justify-content: start;
            width: 100%;
            .c-right, .c-left{
                width: 45%;
                height: 600px;
                margin-left: 1%;
                margin-right: 5%;
            }
            .c-right{
                margin-left: 1%;
                width: 40%;
                margin-right: 0%;
            }
        }
    }
}
@media screen and (max-width:970px) {
    body{
        header{
            section{
                .header-left{
                    span{
                        width: 28.5%;
                        margin-left: 7%;
                    }
                }
            }
        }
        body article #explore{
            margin-right: 0px;
        }
        article{
            margin: 300px 0px 0px 0px;
        }
    }
    .body3, .body4{
        width: 970px;
    }
    .body4{
        section{
            .contenair{
                .c-right, .c-left{
                    width: auto;
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    body{
        height: 1024px;
        width: 768px;
        header{
            margin-top: 0px;
            section{
                #line{
                    display: none;
                }
                .header-right{
                    width: 425px;
                }
            }
        }
        #article{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: nowrap;
            height: 900px;
            article{
                margin: 0px;
            }
            #explore{
                position: relative;
                top: 0px;
                margin-right: 0px;
            }
        }
    }
    .body2{
        height: 1024px;
        width: 768px;
        margin: 0px;
        section{
            height: 80%;
            .contenair{
                display: flex;
                text-align: center;
                justify-content: space-around;
                width: 100%;
                height: 100%;
                .c-right, .c-left{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .body3{
        height: 1024px;
        width: 768px;
        h2{
            margin: 45px 0px 30px 150px;
        }
        section{
            height: 80%;
            .contenair{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                width: 90%;
                height: 100%;
                .c-right, .c-left{
                    width: 100%;
                    height: auto;
                    margin-left: 0%;
                    margin-right: 0%;
                }
                .c-left{
                    width: 592px;
                    height: 232px;
                }
            }
        }
    }
    .body4{
        height: 1024px;
        width: 768px;
        section{
            height: 80%;
            width: 100%;
            .contenair{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                width: 100%;
                height: 100%;
                .c-right, .c-left{
                    width:100%;
                    height: 310px;
                    padding: 0px;
                    margin-left: 0%;
                    margin-right: 0%;
                }
                .c-left{
                    width: 90%;
                    height: 360px;
                }
            }
        }
    }
}
@media screen and (max-width:375px) {
    body{
        width: 375px;
        height: 667px;
        padding: 0px;
        #article{
            height: 550px;
            article{
                z-index: -2;
                width: 90% ;
                margin: 0px 5% 0px 5%;
                height: 300px;
                h1{
                    font-size: 80px;
                    line-height: 0px;
                    letter-spacing: 0px;
                }
                h2{
                    font-size: 18px;
                    line-height: 0px;
                    letter-spacing: 4.725px;
                    color: #D0D6F9;
                }
                p{
                    font-size: 14px;
                    line-height: 18px;
                    color: #D0D6F9;
        
                }
            }
            #explore{
                z-index: -2;
                width: 150px;
                height: 150px;
                font-size: 20px;
            }
        }   
        header{
            section{
                height: 76px;
                width: 100%;
                display: inline; 
                padding: 0px; 
                
                .header-right{
                    width: 200px;
                    height: 591px;
                    position: absolute;
                    margin: 0px;
                    padding: 0px;
                    z-index: 20;
                    top: 76px;
                    right: -30px;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    transform: translateX(0%);
                    transition: all 0.3s ease-in-out;
                    display: none;
                    margin: 0px;  
                }
                .header-left #logo{
                    margin-top: 10px;
                    display: inline;
                }
            }
        }
    }
    #toggle{
        width: 48px;
        height: 48px;
        display: inline;
        float: right;
        background: url('./assets/shared/icon-hamburger.svg');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 15px;
    }
    .body2{
        height: 850px;
        width: 375px;
        margin: 0px;
        header{
            section{
                .header-right{
                    height: 774px;
                }
            }
        }
        section{
            h2{
                margin: 0px;
                font-size: 26px;
                z-index: 1;
            }
        }
    }
    .body3, .body4{
        width: 375px;
        height: 710px;
        padding: 0px;
        header{
            section{ 
                .header-right{
                    height: 634px;
                }
            }
        }
    }
    .body3, .body4{
        section{
            height: 80%;
            h2{
                margin: 0px;
                font-size: 26px;
            }
            .contenair{
                flex-direction: column-reverse;
                .c-left{
                    width:327px;
                    height: 223px;
                }
                .c-right{
                    margin-left: 5%;
                }
            }
        }  
    }
    .body4{
        width: 375px;
        height: 710px;
        section{
            .contenair{
                .c-right, .c-left{
                    width: 100%;
                    height: 170px;
                }
                .c-left{
                    width: 90%;
                    height: 220px;
                }
            }
        }
    }
}